<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Exam</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>Network & Web Technologies</h1>
        <div class="wrapper">
            <h2 class="title">Exam</h2>
            <div>
                <form action="/add" method="POST">
                    <input type="text" name="brand" placeholder="Brand" required />
                    <input type="number" name="size" placeholder="Size" required />
                    <input type="number" name="price" placeholder="Price" required />
                    <input type="submit" value="Add" />
                </form>
                <ul>
                    <% for(tv of wishList) { %>
                    <li><%= tv.brand %> <%= tv.size %>' : $<%= tv.price %></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </body>
</html>
