@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Montserrat", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}
h1 {
    font-size: 4em;
    font-weight: 900;
    color: rgb(50, 50, 50);
}
.wrapper {
    width: 50%;
    min-width: 500px;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    color: rgb(50, 50, 50);
    line-height: 100px;
    margin: 0 30px;
    user-select: none;
    z-index: 1;
}
.wrapper > div {
    padding: 0px 40px 40px 40px;
}
.wrapper .button {
    height: 35px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #4246c7;
    transition: all 0.3s ease;
}
.wrapper .button:hover {
    background: rgb(50, 50, 50);
}
.wrapper p {
    margin: 0 0 20px 0;
    color: grey;
}
.wrapper form {
    display: flex;
    justify-content: left;
    gap: 15px;
}
.wrapper form label {
    line-height: 35px;
    font-size: 16px;
}
.wrapper form input {
    box-sizing: border-box;
    height: 35px;
    font-size: 16px;
    outline: none;
    padding-left: 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    transition: all 0.3s ease;
}
form input:focus {
    border-color: #4158d0;
}
.wrapper form input[type="submit"] {
    padding: 0 15px;
    width: auto;
    cursor: pointer;
    color: #fff;
    border: none;
    background: #4246c7;
}
.wrapper form input[type="submit"]:hover {
    background: rgb(50, 50, 50);
}
